.containerbg{
    height: 700px;
}
h2{
    color: #1679AB;
    font-weight: bolder;
    letter-spacing: 2px; 
}
.aboutcont h4{
color: #1679AB;
font-weight: bolder;
}
.aboutcont span{
    font-weight: bolder;
}
.about-img img{
    border-radius: 20px;
    height:300px ;
    clip-path: polygon(0% 0%, 0% 100%, 25% 100%, 25% 25%, 75% 25%, 75% 75%, 25% 75%, 25% 100%, 100% 100%, 100% 0%);
}
